.MainContainer {
    position: relative;
    background-color: #243754;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.MainContainer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #243754;
    opacity: 0.7;
}

body {
    background-color: #243754;
}

.content {
    padding: 20px;
    position: relative;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .MainContainer {
        background-position-x: -200px !important;
    }
}

@media screen and (max-width: 700px) {
    .MainContainer {
        background: none !important;
    }

    .content {
        align-items: flex-start;
    }
}
