.Dropdown {
    height: 53px;
    position: relative;
    margin-top: 7px;
    margin-bottom: 5px;
}

.dropdownOptions {
    border-top: 1px solid #94ae3f;
    position: absolute;
    left: 0;
    top: 53px;
    z-index: 999;
    width: 100%;
}

.dropdownOption {
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    padding: 15px;
    color: white;
    padding-left: 20px;
    background-size: cover;
    background-position-y: 20%;
    -webkit-box-shadow: inset 0px 0px 50px 8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 50px 8px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 50px 8px rgba(0, 0, 0, 0.75);
}

.dropdownOption:hover {
    background-color: #314869;
}

.dropdownHeader {
    cursor: pointer;
    position: relative;
    transition: 0.4s;
    background-color: #243754;
    border: 0;
    font-size: 1rem;
    padding: 15px;
    border: 1px solid transparent;
    color: white;
    padding-left: 20px;
    border-radius: 5px;
}

.Dropdown:focus {
    outline: none;
}

.dropdownArrow {
    transition: 0.2s;
    transform-origin: center;
    position: absolute;
    right: 20px;
    top: 28%;
}
