.UserCard {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    width: 280px;
    height: 440px;
    background-color: #243754;
    border: 10px solid #1d2633;
    padding: 50px 20px;
}

.nickname {
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

.desc {
    margin: 10px;
    text-align: justify;
}

@media screen and (max-width: 360px) {
    .UserCard {
        width: 80vw;
        padding: 10px;
        height: 400px;
    }

    .UserCard > div {
        min-width: 100px;
        width: 100px;
        height: 100px;
    }
}
