.Header {
    z-index: 999;
    height: 80px;
    position: sticky;
    background-color: #1d2633;
    top: -30px;
    -webkit-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
}

.headerContainer {
    transition: background-color 1s;
    height: 50px;
    background-color: #1d2633;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
    position: sticky;
    top: 15px;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navBar {
    transition: 0.6s;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

a {
    color: inherit;
    text-decoration: none; /* no underline */
}

.navElement {
    padding: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.hamb {
    display: none;
    width: 30px;
    height: 25px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.hamb span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.hamb span:nth-child(1) {
    top: 0px;
}

.hamb span:nth-child(2),
.hamb span:nth-child(3) {
    top: 9px;
}

.hamb span:nth-child(4) {
    top: 18px;
}

.hamb.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hamb.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hamb.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hamb.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.hambTitle {
    color: #94ae3f;
    padding: 4px;
    margin: 8px 4px 0 4px;
    display: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.hambTitle > i {
    margin-right: 8px;
}

.logoContainer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    font-size: 2rem;
}

.loginBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
    .Header {
        height: 70px;
        top: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .hamb {
        display: block;
    }

    .hambTitle {
        display: block;
    }

    .navElement {
        margin-left: 15px;
    }

    .logoContainer {
        width: 100%;
    }

    .headerContainer {
        flex-direction: column;
        height: auto;
        align-items: flex-start;
        -webkit-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 10px 21px -2px rgba(0, 0, 0, 0.2);
    }

    .navBar {
        max-height: 0;
        overflow: hidden;
    }

    .navBar,
    .navLinks,
    .loginBar {
        flex-direction: column;
        align-items: flex-start;
    }
}
