.Login {
    display: flex;
    width: 100%;
}

.titleContainer {
    width: 60%;
}

.loginTitle {
    font-size: 3rem;
    text-transform: uppercase;
}

.loginDescription {
    text-align: justify;
    font-size: 1rem;
}

.loginDescription,
.loginTitle {
    font-weight: 100;
    color: white;
    width: 60%;
}

.loginTitleStyled {
    font-weight: 600;
    color: #94ae3f;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40%;
    background-color: #1013215e;
    border-radius: 15px;
}

.form * {
    font-size: 1.1rem;
}

.form label {
    color: white;
    margin: 10px 0;
}

.form input {
    margin: 8px 0;
    transition: 0.4s;
    caret-color: #94ae3f;
    background-color: #243754;
    border: 0;
    padding: 15px;
    border: 1px solid transparent;
    color: white;
    padding-left: 20px;
    border-radius: 5px;
}

.form input:focus {
    background-color: #314869;
    outline: none;
    border: 1px solid #94ae3f;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.253);
}

.loginButton {
    height: 49px;
    margin-top: 15px;
}

.errors {
    color: tomato;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.errors > span {
    margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
    .Login {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .form,
    .titleContainer,
    .loginTitle,
    .loginDescription {
        width: 100%;
    }

    .form {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .loginTitle {
        font-size: 2rem;
    }

    .Login {
        padding: 15px;
    }

    .form {
        width: 85%;
        margin: 20px 0;
    }
}
