body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.btn-transparent {
    background-color: transparent;
    color: whitesmoke;
    padding: 8px;
    border: 1px solid #94ae3f;
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.4s;
}

.btn-transparent-danger {
    background-color: transparent;
    color: whitesmoke;
    padding: 8px;
    border: 1px solid tomato;
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.4s;
}

.btn-common {
    color: white;
    background-color: transparent;
    padding: 8px;
    margin: 0 8px;
    box-shadow: none;
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-common:focus,
.btn-transparent:focus {
    outline: none;
}

.btn-transparent-danger:focus,
.btn-transparent-danger:hover {
    background-color: tomato;
}

.btn-transparent:focus {
    background-color: #94ae3f;
}

.btn-transparent:hover {
    background-color: #94ae3f;
}

.btn-common:focus {
    border: 1px solid #94ae3f;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity 400ms;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity 400ms;
}
