.Registration {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.addedGames {
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.addedGame {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    background-color: #243754;
    padding: 10px;
}

.addedGame i {
    margin-left: 10px;
    color: tomato;
    cursor: pointer;
}

.titleContainer {
    width: 60%;
}

.registerTitle {
    font-size: 3rem;
    text-transform: uppercase;
}

.registerDescription {
    text-align: justify;
    font-size: 1rem;
}

.registerDescription,
.registerTitle {
    font-weight: 100;
    color: white;
    width: 60%;
}

.registerTitleStyled {
    font-weight: 600;
    color: #94ae3f;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 40%;
    background-color: #1013215e;
    border-radius: 15px;
}

.form * {
    font-size: 1.1rem;
}

.form label {
    color: white;
    margin: 10px 0;
}

.form input {
    margin: 8px 0;
    transition: 0.4s;
    caret-color: #94ae3f;
    background-color: #243754;
    border: 0;
    padding: 15px;
    border: 1px solid transparent;
    color: white;
    padding-left: 20px;
    border-radius: 5px;
}

.addGameButton {
    margin-top: 15px;
    margin-bottom: 5px;
    width: 50%;
}

.addGame {
    position: relative;
    border-radius: 12px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    overflow: hidden;
    background-color: #1d2633;
    border: 5px solid #243754;
}

.addGame * {
    z-index: 100;
}

.gameIcon {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 5px;
}

.form input:focus {
    background-color: #314869;
    outline: none;
    border: 1px solid #94ae3f;
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.253);
}

.signupButton {
    margin-top: 25px;
    height: 49px;
}

.errors {
    color: tomato;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.errors > span {
    margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
    .Registration {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
    }

    .form,
    .titleContainer,
    .registerTitle,
    .registerDescription {
        width: 100%;
    }

    .form {
        margin-top: 20px;
    }
}

@media screen and (max-width: 400px) {
    .registerTitle {
        font-size: 2rem;
    }

    .Registration {
        padding: 15px;
    }

    .form {
        width: 85%;
        margin: 20px 0;
    }

    .addGameButton {
        margin-top: 15px;
        margin-bottom: 5px;
        width: 100%;
    }
}
